*.bak
*.suo
*.db
*.db-shm
*.db-wal
*.user
.vs
obj
Obj
bin
Bin
debug
Debug
release
Release
Logs
logs
node_modules
temp
~$*
wwwroot/*
!wwwroot/favicon.ico
!wwwroot/logo.png
!wwwroot/loading.html
